.movie-item {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: left;
}

.movie-item img {
  height: 300px;
  width: 100%;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
