#root {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
p {
  margin: 0;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loader {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
